<header class="header">
  <h1><%= live_redirect("megalithic industries", to: Routes.blog_path(@socket, :index)) %></h1>
  <nav>
    <ul>
      <li>
        <%= live_redirect("blog", to: Routes.blog_path(@socket, :index)) %>
      </li>
      <li>
        <%= live_redirect("about", to: Routes.page_path(@socket, :about)) %>
      </li>
    </ul>
  </nav>
</header>
