<figure id="logo">
  <h1>seth <b>messer</b></h1>
  <MegalithicWeb.Components.SVG.megalith  class="logo-bob" />
  <img class="hidden" src={Routes.static_path(@socket, "/images/logo.svg")} alt="megalithic industries"/>
</figure>
