@layer base {
  html {
    @apply h-full
    scroll-smooth
    text-base;
  }

  body {
    @apply h-full
    scroll-smooth
    antialiased
    leading-tight
    dark:bg-gray-900
    dark:text-gray-300
    text-base;
  }

  .link {
    @apply text-brand-700 no-underline transition-colors duration-150 ease-in-out border-accent-500 hover:text-brand-500 hover:border-accent-400;
    border-bottom-width: 1px;
  }

  html.dark .link:hover {
    @apply border-b border-accent-700;
    filter: brightness(1.5);
  }

  .dark .prose strong {
    @apply text-gray-50 !important;
  }

  .dark .link,
  .dark .prose a,
  .dark .prose a code {
    @apply text-red-200;
  }

  .dark .link:focus,
  .dark .prose a:focus,
  .dark .prose a:focus code {
    @apply text-red-200;
  }

  .dark .link:visited,
  .dark .prose a:visited,
  .dark .prose a:visited code {
    @apply text-purple-200;
  }

  .dark .link:hover,
  .dark .prose a:hover,
  .dark .prose a:hover code {
    @apply text-red-200;
  }

  a {
    @apply text-blue-300
      underline
      transition-colors hover:text-blue-500 duration-300;

    /* NOTE: the link class is applied when using the <.link> component */
    &.link.truncate {
      /* NOTE: this inherits tailwindcss' truncate class, then adds our extras */
      @apply inline-block max-w-full;
    }
  }

  p {
    @apply my-5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 dark:text-white;
  }

  h1 {
    @apply text-4xl my-5 font-extrabold;
  }
  h2 {
    @apply text-3xl my-3 font-bold;
  }
  h3 {
    @apply text-2xl my-2 font-semibold;
  }
  h4 {
    @apply text-xl my-2;
  }
  h5 {
    @apply text-lg my-1;
  }
  h6 {
    @apply text-sm;
  }
}
