@layer base {
  html {
    @apply h-full
    scroll-smooth
    text-base;
  }

  body {
    @apply h-full
    scroll-smooth
    antialiased
    leading-tight
    dark:bg-gray-900
    dark:text-gray-300
    text-base;
  }

  .link {
    @apply text-brand-700 no-underline transition-colors duration-150 ease-in-out border-accent-500 hover:text-brand-500 hover:border-accent-400;
    border-bottom-width: 1px;
  }

  html.dark .link:hover {
    @apply border-b border-accent-700;
    filter: brightness(1.5);
  }

  .dark .prose strong {
    @apply text-gray-50 !important;
  }

  .dark .link,
  .dark .prose a,
  .dark .prose a code {
    @apply text-red-200;
  }

  .dark .link:focus,
  .dark .prose a:focus,
  .dark .prose a:focus code {
    @apply text-red-200;
  }

  .dark .link:visited,
  .dark .prose a:visited,
  .dark .prose a:visited code {
    @apply text-purple-200;
  }

  .dark .link:hover,
  .dark .prose a:hover,
  .dark .prose a:hover code {
    @apply text-red-200;
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
      U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    src: url("/fonts/inter-v1-latin-regular.eot"); /* IE9 Compat Modes */
    src: url("/fonts/inter-v1-latin-regular.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */ url("/fonts/Inter-Regular.woff2") format("woff2"), url("/fonts/Inter-Regular.woff") format("woff"),
      url("/fonts/inter-v1-latin-regular.ttf") format("truetype"),
      /* Safari, Android, iOS */ url("/fonts/inter-v1-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Light.woff2") format("woff2"), url("/fonts/FiraCode-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Regular.woff2") format("woff2"), url("/fonts/FiraCode-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Medium.woff2") format("woff2"), url("/fonts/FiraCode-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-SemiBold.woff2") format("woff2"), url("/fonts/FiraCode-SemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Fira Code";
    src: url("/fonts/FiraCode-Bold.woff2") format("woff2"), url("/fonts/FiraCode-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }

  @supports (font-variation-settings: normal) {
    @font-face {
      font-family: "Inter var";
      font-weight: 100 900;
      font-style: normal;
      font-named-instance: "Regular";
      font-display: swap;
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      src: url("/fonts/Inter-roman.var.woff2") format("woff2");
    }

    @font-face {
      font-family: "Inter var";
      font-weight: 100 900;
      font-style: italic;
      font-named-instance: "Italic";
      font-display: swap;
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC,
        U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      src: url("/fonts/Inter-italic.var.woff2") format("woff2");
    }

    @font-face {
      font-family: "Fira Code VF";
      font-weight: 300 700;
      font-style: normal;
      font-display: swap;
      src: url("/fonts/FiraCode-VF.woff2") format("woff2-variations"),
        url("/fonts/FiraCode-VF.woff") format("woff-variations");
    }
  }

  a {
    @apply text-blue-300
      underline
      transition-colors hover:text-blue-500 duration-300;

    /* NOTE: the link class is applied when using the <.link> component */
    &.link.truncate {
      /* NOTE: this inherits tailwindcss' truncate class, then adds our extras */
      @apply inline-block max-w-full;
    }
  }

  p {
    @apply my-5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 dark:text-white;
  }

  h1 {
    @apply text-4xl my-5 font-extrabold;
  }
  h2 {
    @apply text-3xl my-3 font-bold;
  }
  h3 {
    @apply text-2xl my-2 font-semibold;
  }
  h4 {
    @apply text-xl my-2;
  }
  h5 {
    @apply text-lg my-1;
  }
  h6 {
    @apply text-sm;
  }

  .header {
    grid-area: header;
    @apply m-4;

    ul {
      @apply flex;
      li {
        @apply align-middle flex justify-center text-center items-center mr-3;

        a {
          @apply no-underline inline-flex items-center pt-1 border-b-4 leading-5 focus:outline-none transition duration-150 ease-in-out border-transparent dark:text-gray-300 dark:hover:text-gray-200 text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:focus:text-gray-200 focus:text-gray-700 focus:border-gray-300;
        }
      }
    }
  }
  .main-content {
    grid-area: main;
    @apply m-4;

    .post-nav {
      a {
        @apply no-underline flex  items-center text-center align-middle;

        svg {
          @apply inline-flex items-center text-center justify-center align-middle;
        }
      }
    }
    .post {
      @apply mt-10 prose dark:prose-invert print:prose-print lg:prose-xl max-w-[100ch];
      .meta {
        @apply flex flex-wrap mt-2 space-x-4 mb-4 text-sm;
      }
      .content {
        @apply mb-6;
      }
      .feedback {
        @apply block print:hidden;
      }
    }
  }
  .footer {
    grid-area: footer;
    @apply m-4;

    ul {
      @apply flex;
      li {
        @apply align-middle flex justify-center text-center items-center;

        .theme-toggle-button {
          @apply text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2 mr-4;
        }

        a {
          @apply text-gray-400 hover:text-gray-500 mr-6;
        }
      }
    }
    p {
      @apply my-2;
    }
  }

  .outer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main  "
      "footer";
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 300px); */
    /* grid-template-areas: */
    /*   "header header header header" */
    /*   "main   main   main   main" */
    /*   "footer footer footer footer"; */
  }
}
