@layer components {
  .footer {
    grid-area: footer;
    @apply p-8
    container
    text-center
    md:order-2
    print:hidden;

    ul {
      @apply align-middle
      flex
      justify-center
      text-center
      items-center;

      li {
        @apply px-4 py-1;

        .theme-toggle-button {
          @apply text-gray-500
          dark:text-gray-400
          hover:bg-gray-100
          dark:hover:bg-gray-700
          focus:outline-none
          focus:ring-4
          focus:ring-gray-200
          dark:focus:ring-gray-700
          rounded-lg
          text-sm
          p-2
          mr-4;
        }

        a {
          transition: color 0.3s;
          @apply inline-flex
            text-gray-400
            /* hover:-translate-y-1 */
            hover:text-mega-blue
            /* transition-transform */
            ease-in-out;

          /* dark:text-gray-300 */
          /* dark:hover:text-gray-200 */
          /* text-gray-500 */
          /* hover:text-gray-700 */
          /* hover:border-gray-300 */
          /* dark:focus:text-gray-200 */
          /* focus:text-gray-700 */
          /* focus:border-gray-300; */
        }
      }
    }
    .copyright {
      @apply text-mega-grey2;
    }
  }
}
