@layer components {
  .clouds {
    @apply text-mega-bg -mt-20;
  }

  .inner {
    grid-area: main;
    @apply px-6;
  }

  hr.fancy {
    @apply container;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: 0.5;
    &:before {
      content: "";
      background: linear-gradient(to right, transparent, #818078, transparent);
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 1px;
    }
    &:after {
      content: attr(data-content);
      position: relative;
      display: inline-block;
      color: black;
      padding: 0 0.5em;
      line-height: 1.5em;
      @apply bg-mega-bg text-mega-grey;
    }
  }

  .outer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main  "
      "footer";
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 300px); */
    /* grid-template-areas: */
    /*   "header header header header" */
    /*   "main   main   main   main" */
    /*   "footer footer footer footer"; */
  }
}
