@layer components {
  .header {
    grid-area: header;
    @apply py-8 px-16 bg-mega-bg1 flex justify-start items-center;

    .logo {
      @apply h-[120px] w-[120px] inline-flex;
    }

    nav.primary {
      @apply ml-6 flex-1;

      h1 {
        @apply m-0 mr-10 block;

        a {
          @apply no-underline text-mega-grey2;
        }
      }

      ul {
        @apply flex mt-1;
        li {
          @apply align-middle flex justify-center text-center items-center mr-4;

          a {
            @apply no-underline inline-flex items-center border-b-4 leading-5 focus:outline-none transition duration-150 ease-in-out border-transparent dark:text-gray-300 dark:hover:text-gray-200 text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:focus:text-gray-200 focus:text-gray-700 focus:border-gray-300;
          }
        }
      }
    }
    nav.secondary {
      @apply flex justify-end items-center;

      ul {
        @apply flex mt-1;
        li {
          @apply align-middle flex justify-center text-center items-center mr-4;

          a {
            @apply inline-flex transition-transform ease-in-out hover:-translate-y-1 dark:text-gray-300 dark:hover:text-gray-200 text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:focus:text-gray-200 focus:text-gray-700 focus:border-gray-300;
            /* @apply no-underline inline-flex items-center border-b-4 leading-5 focus:outline-none transition duration-150 ease-in-out border-transparent dark:text-gray-300 dark:hover:text-gray-200 text-gray-500 hover:text-gray-700 hover:border-gray-300 dark:focus:text-gray-200 focus:text-gray-700 focus:border-gray-300; */
          }
        }
      }
    }
  }
  .inner {
    grid-area: main;
    @apply m-4;
  }
  .footer {
    grid-area: footer;
    @apply p-8 text-center md:order-2 print:hidden bg-mega-bg1;

    ul {
      @apply align-middle flex justify-center text-center items-center;
      li {
        @apply p-4;

        .theme-toggle-button {
          @apply text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2 mr-4;
        }

        a {
          @apply text-gray-400 hover:text-gray-500 mr-6;
        }
      }
    }
    .copyright {
      @apply text-mega-grey2;
    }
  }

  .outer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "header"
      "main  "
      "footer";
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 300px); */
    /* grid-template-areas: */
    /*   "header header header header" */
    /*   "main   main   main   main" */
    /*   "footer footer footer footer"; */
  }
}
